/.env
实习日志-陈星宇-0722.md
实习日志-陈星宇-0728.docx
实习日志-陈星宇-0728.md
工作任务跟踪表-陈星宇-0722.csv
工作任务跟踪表-陈星宇-0728.csv
~$日志-陈星宇-0728.docx

~$日志-陈星宇-0731.docx
实习日志-陈星宇-0731.docx
实习日志-陈星宇-0731.md
工作任务跟踪表-陈星宇-0731.csv
实习日志-陈星宇-0805.md
工作任务跟踪表-陈星宇-0805.csv
~$日志-陈星宇-0805.docx
实习日志-陈星宇-0805.docx
工作任务跟踪表-陈星宇-0806.csv
.gitignore
实习日志-陈星宇-0806.md
实习日志-陈星宇-0806.docx
~$日志-陈星宇-0806.docx
~$日志-陈星宇-0807.docx
实习日志-陈星宇-0807.docx
实习日志-陈星宇-0807.md
工作任务跟踪表-陈星宇-0807.csv
index.html
styles.css
实习日志-陈星宇-0808.docx
实习日志-陈星宇-0808.md
工作任务跟踪表-陈星宇-0808.csv
工作任务表-0808.md
~$日志-陈星宇-0811.docx
实习日志-陈星宇-0811.docx
实习日志-陈星宇-0811.md
工作任务表-0811.md
工作任务跟踪表-陈星宇-0811.csv
src/dumptools/docx_reports/~$ssion_20250807_145152.docx
工作任务跟踪表-陈星宇-0812.csv
实习日志-陈星宇-0812.md
~$日志-陈星宇-0812.docx
实习日志-陈星宇-0812.docx

# 忽略所有实习日志相关文件，防止上传
实习日志*
~$日志*
/实习日志*
/~$日志*
*.docx
# 忽略所有工作任务跟踪表相关文件，防止上传
工作任务跟踪表*
/工作任务跟踪表*
*.csv
